<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base target="_blank">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<style>
		/* Add any CSS styling here */
		html {
			height: 100%;
			font-family: sans-serif;
		}

		body {
			margin: 10rem 5rem;
			padding: 2rem 3rem;
			background: #fffffff5;
		}

		table {
			display: none;
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
		}

		th,
		td {
			border: 1px solid black;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		pre {
			white-space: wrap;
			word-break: break-word;
		}

		.collapsible {
			cursor: pointer;
			border-bottom: 1px solid gray;padding-bottom: 1.5rem;
		}

		.table-summary {
			display: block;
		}

		/* Add this new style for the summary table */
		.summary-table {
			display: table;
			width: 100%;
			margin-top: 20px;
		}

		/* Style for the link in the Page column */
		.summary-table td:nth-child(3) a {
			color: #0645ad;
			text-decoration: none;
		}

		.summary-table td:nth-child(3) a:hover {
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<h1>{{pageTitle}}</h1>
	<p>Baseline: {{totalItems}}</p>
	<p>Scanned {{pagesScanned}} pages.</p>
	<p>{{passingPages}} pages without color contrast violations.</p>
	<p>{{failingPages}} pages with color contrast violations.</p>
	<div id="summary"></div>
	{{^hideExpandButton}}
	<button id="expandAll">Expand all sections</button>
	{{/hideExpandButton}}
	{{{tableSections}}}
	{{#isSummary}}
	<table class="summary-table">
		<tr>
			<th>Total Light Mode Violations</th>
			<th>Total Dark Mode Violations</th>
		</tr>
		<tr>
			<td>{{totalLight}}</td>
			<td>{{totalDark}}</td>
		</tr>
	</table>
	{{/isSummary}}
	<script src="./collapsible.js"></script>
	<script src="./summarizer.js"></script>
</body>
</html>
